@font-face {
  font-family: "JuraRegular";
  src: local("JuraRegular"),
    url("fonts/JuraRegular.ttf") format("truetype")
}
@font-face {
  font-family: "JuraMedium";
  src: local("JuraMedium"),
    url("fonts/JuraMedium.ttf") format("truetype")
}
@font-face {
  font-family: "JuraSemiBold";
  src: local("JuraSemiBold"),
    url("fonts/JuraSemiBold.ttf") format("truetype")
}
@font-face {
  font-family: "JuraBold";
  src: local("JuraBold"),
    url("fonts/JuraBold.ttf") format("truetype")
}
@font-face {
  font-family: "Jost100Hairline";
  src: local("Jost100Hairline"),
    url("fonts/Jost100Hairline.ttf") format("truetype")
}
@font-face {
  font-family: "OswaldExtraLight";
  src: local("OswaldExtraLight"),
    url("fonts/OswaldExtraLight.ttf") format("truetype")
}
@font-face {
  font-family: "MontserratRegular400";
  src: local("MontserratRegular400"),
    url("fonts/MontserratRegular400.ttf") format("truetype")
}
@font-face {
  font-family: "SFProDisplaySemibold";
  src: local("SFProDisplaySemibold"),
    url("fonts/SFProDisplaySemibold.ttf") format("truetype")
}
