@font-face {
  font-family: "JuraMedium";
  src: local("JuraMedium"),
    url("@/styles/fonts/JuraMedium.ttf") format("truetype")
}
@font-face {
  font-family: "Jost100Hairline";
  src: local("Jost100Hairline"),
    url("@/styles/fonts/Jost100Hairline.ttf") format("truetype")
}
@font-face {
  font-family: "OswaldExtraLight";
  src: local("OswaldExtraLight"),
    url("@/styles/fonts/OswaldExtraLight.ttf") format("truetype")
}

