.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.trans-enter-active,
.trans-leave-active {
  transition: opacity 0.2s ease;
}
.trans-enter-from,
.trans-leave-to {
  opacity: 0;
}

.drop-enter-active,
.drop-leave-active {
  transition: transform .3s ease;
  transform: translateY(0);
}
.drop-enter-from,
.drop-leave-to {
  transform: translateY(-110%);
}