.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// тразишены для шаблона страниц
.top-layout-enter-active,
.top-layout-leave-active {
  transition: opacity .6s, transform .6s, scale .6s;
}
.top-layout-enter-from,
.top-layout-leave-to {
  opacity: 0;
  transform: translateY(-100%);
  scale: .5;
}

.middle-layout-enter-active,
.middle-layout-leave-active {
  transition: opacity .6s, transform .6s;
}
.middle-layout-enter-from,
.middle-layout-leave-to {
  opacity: 0;
  transform: translateX(50%)
}

.bottom-layout-enter-active,
.bottom-layout-leave-active {
  transition: opacity .6s, transform .6s;
}
.bottom-layout-enter-from,
.bottom-layout-leave-to {
  opacity: 0;
  transform: translateY(100%)
}
// сдвиг в разные стороны
.move-right-enter-active,
.move-right-leave-active {
  transition: all .6s ease;
  transform: translateX(0);
}
.move-right-enter-from,
.move-right-leave-to {
  transform: translateX(100%);
}

.move-left-enter-active,
.move-left-leave-active {
  transition: transform .6s ease;
  transform: translateX(0);
}
.move-left-enter-from,
.move-left-leave-to {
  transform: translateX(-100%);
}

.move-top-enter-active,
.move-top-leave-active {
  transition: translate .6s ease;
  translate: 0 0;
}
.move-top-enter-from,
.move-top-leave-to {
  translate: 0 -70vw;
}


.move-bottom-enter-active,
.move-bottom-leave-active {
  transition: transform .6s ease;
  transform: translateY(0);
}
.move-bottom-enter-from,
.move-bottom-leave-to {
  transform: translateY(70vw);
}



.trans-enter-active,
.trans-leave-active {
  transition: opacity 0.2s ease;
}
.trans-enter-from,
.trans-leave-to {
  opacity: 0;
}

.drop-enter-active,
.drop-leave-active {
  transition: transform .3s ease;
  transform: translateY(0);
}
.drop-enter-from,
.drop-leave-to {
  transform: translateY(-110%);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform .3s ease;
  transform: translateY(0);
}
.slide-enter-from,
.slide-leave-to {
  transform: translateX(110%);
}

.test-enter-active,
.test-leave-active {
  transition: transform .6s ease;
  transform: translateX(0);
}
.test-enter-from,
.test-leave-to {
  transform: translateX(100vw);
}


.login-enter-active,
.login-leave-active {
  transition: opacity .6s ease;
}
.login-enter-from,
.login-leave-to {
  opacity: 0;
}

// анимация для проектов
.project-enter-active {
  transition: all .6s ease;
}
.project-leave-active {
  transition: all .6s ease;
}
.project-enter-from {
  scale: .5;
  transform: translateY(20vw);
}

// анимация для стриминга
.streaming-enter-active {
  transition: all .6s ease;
}
.streaming-leave-active {
  transition: all .6s ease;
}
.streaming-enter-from {
  transform: translate(100vw, -10vh);
}


