.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.move-right-enter-active,
.move-right-leave-active {
  transition: transform .6s ease;
  transform: translateX(0);
}
.move-right-enter-from,
.move-right-leave-to {
  transform: translateX(100%);
}

.move-left-enter-active,
.move-left-leave-active {
  transition: transform .6s ease;
  transform: translateX(0);
}
.move-left-enter-from,
.move-left-leave-to {
  transform: translateX(-100%);
}

.trans-enter-active,
.trans-leave-active {
  transition: opacity 0.2s ease;
}
.trans-enter-from,
.trans-leave-to {
  opacity: 0;
}

.drop-enter-active,
.drop-leave-active {
  transition: transform .3s ease;
  transform: translateY(0);
}
.drop-enter-from,
.drop-leave-to {
  transform: translateY(-110%);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform .3s ease;
  transform: translateY(0);
}
.slide-enter-from,
.slide-leave-to {
  transform: translateX(110%);
}

.test-enter-active,
.test-leave-active {
  transition: transform .6s ease;
  transform: translateY(0);
}
.test-enter-from,
.test-leave-to {
  transform: translateY(65vh);
}


.login-enter-active,
.login-leave-active {
  transition: opacity .6s ease;
}
.login-enter-from,
.login-leave-to {
  opacity: 0;
}
